/* .box1{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    z-index: 3;
    background-color: red;
}
.box2{
    height: 200px;
    width: 200px;
    position: absolute;
    top:20px;
    left: 30px;
    z-index: 2;
    background-color: yellow;
}
.box3{
    height: 200px;
    width: 200px;
    position: absolute;
    top:40px;
    left: 60px;
    z-index: 1;
    background-color: green;
}

.relative{
    height: 500px;
    width: 500px;
    border: solid;
    position: relative;
}

.r-child{
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
} */


/* .box{
 height: 500px;
 width: 700px;   
 border: 1px solid black;
 background-image: url('https://images.unsplash.com/photo-1747134392051-5e112c58ce1e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
 background-repeat: no-repeat;
 background-position: left bottom;
 background-size: cover;
 background-color: black;
 background-blend-mode: lighten;
 
}

.c-bx{
    backdrop-filter: blur(15px);

} */

/* .box{
    background-color: red;
    height: 400px;
    width: 50vh;
}

.c-bx{
    background-color: black;
    height: 200px;
    width: 70vh;
}
.d-bx{
    background-color: yellow;
    height: 300px;
    width: 60vh;
} */

/* 

body{

}

.bx{
    width: 200px;
    height: 300px;
    background-color: red;
    /* transition: all 1s ease-in 0s; */
    animation: anim 3s cubic-bezier(0.215,0.610,0.335,1) 0s infinite;
}

.bx:hover{
    width: 500px;
    /* transform: rotate(300deg); */
    /* transform: scale(2); */
}

@keyframes anim {
    20%{
        background-color: black;
    }
    50%{
        transform: rotate(30deg);
    }
    70%{
        transform: scale(2);
    }
} */