*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* body{
    padding: 10px;
}


.box-p{
    max-width: 500px;
    display: flex;
    border: 1px solid black; */
    /* justify-content: start;  */
    /* justify-content: space-evenly; */
    /* align-items: end; */
    /* flex-direction: column;
     */
    /* height: 500px;
} */


/* .main{
    background-color: rgb(224, 224, 103);
    text-align: center;
    padding: 20px;
}
.box-1{

    display: flex;
    justify-content: space-evenly;
    gap: 5;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: white;

} */


.box-main{
    display: flex;
    max-width: 500;
    flex-wrap: wrap;
}
.item{
    flex-basis: 200px;
    flex-grow: 1;
}

.bx-1{
    background-color: aqua;
}
.bx-2{
    background-color: red;
}
.bx-3{
    background-color: yellow;
}